# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

# Virtual Environment
.env
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Streamlit cache
.streamlit/
